.nav-bar > li:hover, .nav-bar > li a:hover  { color:#ffb6c1;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#ffb6c1;}
.flyout {border-top:2px solid #ffb6c1;}
.sectiontitle {border-left: 4px solid #ffb6c1;}
::-moz-selection{background:#ffb6c1;color:#fff;}
::selection{background:#ffb6c1;color:#fff;}
.ca-menu li:hover .ca-main {color: #ffb6c1;}
.topborder { border-top:4px solid #ffb6c1;}
#subheader{background: #ffb6c1;border-top: 1px solid #ffb6c1; color: #fff;}
#subheader a {color: #fff;text-decoration: none;}
#subheader a:hover { text-decoration: none; color: #fff; }
 .readmore {background:#ffb6c1;}
 #testimonials blockquote cite {color:#ffb6c1;}
.tags {background:#333;}
ul.pagination li.current a {background: #ffb6c1;}
.saymore {color:#ffb6c1;}
.submit {background:#ffb6c1;}
dl.tabs dd.active { border-top: 3px solid #ffb6c1;}
ul.accordion > li.active {border-top: 3px solid #ffb6c1;}
div.alert-box.default { background-color: #ffb6c1;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #ffb6c1;}
.btn-slide {	background:#ffb6c1 url(../../assets/plus.png) no-repeat;}
.btn-slide.active { background: #ffb6c1 url(../../assets/minus.png) no-repeat;}
#footer {border-top:#ffb6c1 4px solid;}
.back-top a:hover{background-color: #666;}
.sf-shadow ul {border-top:2px solid #ffb6c1;}
.panel {border-left:4px solid #ffb6c1;}
.colorbackground {background:#ffb6c1;}
#homesubheader {background:#222;}
a.projectdetail { background: #ccc;text-shadow:none;color:#111;}
a.projectdetail:hover { background: #ccc;text-shadow:none;color:#111;}
#testimonials {border-left: solid 6px #ffb6c1;}
.ei-title h2{background:#ffb6c1;}